!!!
%html
  %head
    %meta(charset='UTF-8')
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    %title #trashBag
    %link(rel='stylesheet' href='../dist/styles/main.min.css')
    %link(href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet')
%body
  %main
    .mainContainer
      - classesleft = ['apple', 'bowling', 'box', 'cabbage', 'cactus', 'can', 'cat', 'cleaver', 'cockroach', 'coffin',  'skateboard', 'smartphone', 'snowglobe', 'sofa', 'swissarmyknife', 'teabag', 'tentacle', 'wallet']
      - classesright = ['cookie', 'cup', 'fish', 'floppydisk', 'gyro', 'heart', 'knife', 'pills', 'pillbottle', 'potatoes', 'pumpkin', 'r2d2', 'rainbow', 'scissors', 'shoe', 'triangle', 'umbrella', 'voodoodoll']

      .leftInventory
        - (classesleft).each do |badgeclass|
          %span.badge(class='#{badgeclass}')
            %img(src='/images/icons/question.svg')


      #game-container
        #header
          %h1 #trashBag
          %h3#timer Timer
          %h3#score Score
        #message
          %p.hyper I am the message that pops up when you get a reward. What happens when I am long?
        #equation
          %span#L.hyper
          %span#operator.hyper
          %span#R.hyper
          %img#equals(src='../images/operators/equals.svg')
          %span#solution.hyper
        #controls
          %button#wrong(type='button')
          %button#right(type='button')


      .rightInventory
        - (classesright).each do |badgeclass|
          %span.badge(class='#{badgeclass}')
            %img(src='/images/icons/question.svg')


    %script(src="../../src/js/jquery-3.1.1.js")
    %script(src="../../src/js/utils.js")
    %script(src="../../src/js/animations.js")
    %script(src="../../src/js/game.js")
    %script(src="../../src/js/badges.js")
