@import 'partials/bourbon/bourbon';
@import 'partials/animate';

//
body {
  // overflow: hidden;
}

#game-container {
  height: 500px;
  width: 800px;
  background: whitesmoke;
  margin: 50px auto;
  position: relative;
}

div {
  margin: 30px auto;
}

button {
  font-size: 40px;
}

select {
  height: 60px;
  background: whitesmoke;
  font-size: 40px;
  option {
    font-size: 40px;
  }
}
