!!!
%html
  %head
    %meta(charset='UTF-8')
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    %title Login
    %link(rel='stylesheet' href='../dist/styles/main.min.css')
    %link(href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet')
  %body
    %main
      .login
        %h1 #trashBag
        .signin
          %input(class='formField' type='text' required)
          %span(class='highlight')
          %span(class='line')
          %label Username
        .signin
          %input(class='formField' type='password' required)
          %span(class='highlight')
          %span(class='line')
          %label Password
        .signin.register
          %input(class='formField' type='password' required)
          %span(class='highlight')
          %span(class='line')
          %label Confirm Password
        .signin.register
          %input(class='formField' type='text' required)
          %span(class='highlight')
          %span(class='line')
          %label First Name
        .signin.register
          %input(class='formField' type='text' required)
          %span(class='highlight')
          %span(class='line')
          %label Last Name
        .signin.register
          %input(class='formField' type='text' required)
          %span(class='highlight')
          %span(class='line')
          %label Email

        %button(id='btnLoginToRegister') Login
        %p(id='loginToRegister') Not registered?
        %a(href='#' id='textChange') Register


    %script(src="../../src/js/jquery-3.1.1.js")
    %script(src="../../src/js/utils.js")
    %script(src="../../src/js/animations.js")
    %script(src="../../src/js/login.js")
