!!!
%html
  %head
    %meta(charset='UTF-8')
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title testing animation
    %link(rel='stylesheet' href='dist/styles/animation-test.min.css')
  %body
    %main
      #game-container
      %input#test-content(type='text' placeholder='content')
      %button#test-button(type='button')try it out
      %select(name='select badge')
        %option(value='')



    %script(src="src/js/jquery-3.1.1.js")
    %script(src="src/js/animations.js")
