!!!
%html
  %head
    %meta(charset='UTF-8')
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title testing animation
    %link(rel='stylesheet' href='dist/styles/animation-test.min.css')
  %body
    - filenames = ['apple.svg', 'bowling.svg', 'box.svg', 'cabbage.svg', 'cactus.svg', 'can.svg', 'cat.svg', 'cleaver.svg', 'cockroach.svg', 'coffin.svg', 'cookie.svg', 'cup.svg', 'fish.svg', 'floppydisk.svg', 'gyro.svg', 'heart.svg', 'knife.svg', 'pill.svg', 'pillbottle.svg', 'potatoes.svg', 'pumpkin.svg', 'r2d2.svg', 'rainbow.svg', 'scissors.svg', 'shoe.svg', 'skateboard.svg', 'smartphone.svg', 'snowglobe.svg', 'sofa.svg', 'swissarmyknife.svg', 'teabag.svg', 'tentacle.svg', 'triangle.svg', 'umbrella.svg', 'voodoodoll.svg', 'wallet.svg']
    - methods = ['acquire', 'hinge', 'zoomIn']
    %main
      #game-container
      -# %input#test-content(type='text' placeholder='content')
      %button#test-button(type='button')try it out
      %button#random-button(type='button')random graphic
      %button#screen-shake(type='button') screen shake!
      %select#test-method(name='select method')
        - (methods).each do |method|
          %option(value='#{method}') #{method}
      %select#test-file(name='select badge')
        - (filenames).each do |file|
          %option(value='images/#{file}') #{file}




    %script(src="src/js/jquery-3.1.1.js")
    %script(src="src/js/animations.js")
