#game-container {
    width: 500px;
    height: 600px;
    background: url('/images/background/trashcan-bg.jpg');
    background-position: top;
    background-size: 150%;
    @include custom-border();
    margin-top: 10px;
    position: relative;
    opacity: 0.8;

    #equation {
      span {
        position: absolute;
        bottom: 200px;
        height: 150px;
        width: 100px;
        background: whitesmoke;
        opacity: .7;
        border-radius: 10px;
        border-top: 2px solid #999999;
        border-bottom: 2px solid #529c78;

        &#L {left: 80px;}
        &#R {right: 80px;}
        &#operator {
          left: 225px;
          bottom: 250px;
          height: 50px;
          width: 50px;
        }
        &#solution {
          bottom: 20px;
          left: 240px;
        }
      }
      img#equals {
        position: absolute;
        bottom: 70px;
        left: 160px;
        width: 50px;
        @include animation(rainbow 500ms infinite);
      }

    }

    #controls {
      button {
        position: absolute;
        bottom: 30px;
        height: 80px;
        width: 80px;
        border-radius: 40px;
        transition: none;

        &#wrong {
          left: 50px;
          background: url('/images/icons/error.svg');
          // &:active {
          //   filter: hue-rotate(155deg);
          // }
        }
        &#right {
          right: 50px;
          background: url('/images/icons/success.svg');
          // &:active {
          //   filter: hue-rotate(-155deg);
          // }
        }
        &:active {
          @include animation(rainbow 50ms infinite);
        }

        &:focus {
          outline: none;
        }
      }
    }


    #message{
      width:400px;
      height:75px;
      border-radius: 20px;
      border: 2px solid #529c78;
      background: whitesmoke;
    }
}

.leftInventory,
.rightInventory {
    width: 124px;
    margin: 10px;
    position: relative;

    .badge {
        display: inline-block;
        border-top: 2px solid #999999;
        border-bottom: 2px solid #529c78;
        border-radius: 5px;
        width: 56px;
        margin: 0;
        padding: 5px;
        height: 60px;
        background: url('/images/icons/question.svg');
        opacity: 0.5;
    }
}

.mainContainer * {
    display: inline-table;
}

.mainContainer {
    margin: 0 auto;
    width: 796px;
    text-align: center;
}
