#leaderBoard {
  background: white;
  border-radius: 10px;
  border-top: 2px solid #666666;
  border-bottom: 2px solid #529c78;
  margin: 50px auto;
  padding: 10px 0;
  width: 500px;
  text-align: center;

  #leaders {
    list-style: upper-roman;
    padding-left: 0;
    width: 80%;
    margin: 0 auto;

    >:nth-child(2) {
      border-top: 2px solid #529c78;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background: lightpink;
      color: lightblue;
      @include animation(rainbow 400ms linear infinite);
      img {
        @include animation(rainbow 400ms linear infinite);        
      }
    }

    :nth-child(2n) + li {
      background: whitesmoke;
    }

    >:last-child {
      border-bottom: 2px solid #666666;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .lb-header {
      list-style: none;
      font-size: 1.3em;
      .leader-info {
        width: 32%;
        display: inline-block;
      }
    }

    .leader {
      font-size: 1.6em;
      .leader-info, {
        display: inline-block;
        width: 32%;
        border: none;
        vertical-align: middle;
        margin: 0 0 4px;
      }
      img.leader-info {
        height: 1.2em;
      }
    }
  }
}

@include keyframes(rainbow){
  0% {
    color: red;
    filter: hue-rotate(60deg);
  }
  20% {
    color: blue;
    filter: hue-rotate(120deg);
  }
  40% {
    color: green;
    filter: hue-rotate(180deg);
  }
  60% {
    color: yellow;
    filter: hue-rotate(240deg);
  }
  80% {
    color: orange;
    filter: hue-rotate(300deg);
  }
  100% {
    color: purple;
    filter: hue-rotate(360deg);
  }
}
