.userPage {
    background-color: #ffffff;
    @include custom-border();
    margin: 50px auto;
    padding: 10px 0;
    position: relative;
    width: 500px;
    text-align: center;
}

#user {
  background-color: #529c78;
  padding-left: 0;
  width: 90%;
  margin: 20px auto;
  list-style: none;
  border-radius: 10px;
  padding: 10px 0;
  @include custom-border();

  li{
    color: #ffffff;
    font-size: 20px;
  }
}

.odd {
  background-color: #85b9a0;
}

#badgesEarned{
  list-style: none;
  padding-left: 0;
  width: 90%;
  margin: 20px auto;

  li{
    @include custom-border();
    height:79px;
    background: url('/public/images/icons/question.svg');
  }
   h2{
     font-size: 14px;
   }
}
